* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Oswald', sans-serif;
  transition: all 0.2s;
  overflow: hidden;
}
@keyframes hudRotation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes goGone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes goApper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#gameMainScreen {
  padding: 15vh 0 45vh 0;
  width: 100vw; height: 40vh;
  background: repeating-linear-gradient(90deg, #a3e2e3, #a3e2e3 5vw, #7ebebf 5vw, #f0edcc 8vw, #f0edcc 10vw, #e3a3df 10vw, #e3a3df 15vw, #bf7ebb 15vw, #f0edcc 18vw, #f0edcc 20vw);
  animation: backgroundMove 10s linear infinite;
}
@keyframes backgroundMove {
  from {
    background-position: 0;
  }
  to {
    background-position: 200vh;
  }
}
#gameTitle {
  width: 90vw;
  font-size: 9vh; text-align: center;
  animation: titlePulse 1s linear infinite alternate, hoveringEffect 5s ease infinite alternate;
}
#gameTitle > span {
  margin-left: 15vw;
  animation: titlePulse 1s linear infinite alternate;
}
@keyframes titlePulse {
  from {
    color: #e0d87e;
    text-shadow: 0 0 7px #aaa, 0 0 7px #aaa, 0 0 7px #aaa;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
  }
  60% {
    color: #e0d87e;
    text-shadow: 0 0 7px #aaa, 0 0 7px #aaa, 0 0 7px #aaa;
  }
  to {
    color: #e0d87e;
    text-shadow: 0 0 7px #aaa, 0 0 7px #aaa, 0 0 7px #aaa;
  }
}
#startButton {
  margin-top: 15vh;
  width: 100vw; height: 7vh;
  text-align: center;
  color: #de5954; font-size: 5vh; text-shadow: 0 0 7px #aaa, 0 0 7px #aaa, 0 0 7px #aaa;
  animation: hudRotation 10s linear infinite, hoveringEffect 1.3s ease infinite alternate;
  cursor: pointer;
}
@keyframes hoveringEffect {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
#gameLoading {
  padding-top: 45vh;
  width: 100vw; height: 10vh;
  background-color: #4d4d4d;
  text-align: center;
}
.loader {
  margin: 0 auto;
  border: 1vh solid #f3f3f3;
  border-top: 1vh solid #757575;
  border-radius: 50%;
  width: 7.5vh;
  height: 7.5vh;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#gameLevelSelect {
  width: 100vw; height: 100vh;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(168,241,244,1) 50%,rgba(240,198,242,1) 51%,rgba(234,234,234,1) 100%);
  /* background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=2e2e2e&density=25&opacity=55); */
}
.stageBlock {
  display: block; float: left;
  width: 10vh; height: 10vh;
  background-image: url(Image/Bridge/1111.png); background-size: 10vh 10vh; background-repeat: no-repeat;
}
.stageBlcokImg {
  margin: 1.5vh;
  width: 7vh; height: 7vh;
  background-color: #777; background-size: 7vh 7vh;
  border-radius: 7px;
}
.stageBlcokImg:not(.stageLocked):hover {
  transform: scale(1.2) rotate(3deg);
  filter: brightness(1.2);
}
.stageBlcokImg:not(.stageLocked):active {
  transform: scale(1.1) rotate(-360deg);
  filter: brightness(1.5);
}
.stageBlcokImg.stageLocked:hover {
  transform: scale(1.05);
}
.stageBlcokImg.stageLocked {
  border: 5px solid #474640;
  opacity: 0.3;
}
.stageBlcokImg.stageOpened {
  border: 5px solid #e3d99d;
}
.stageBlcokImg.stageCompeleted {
  border: 5px solid #9de3ad;
}
.stageBlcokImg.perfectCompeleted {
  border: 5px solid #9de3e0;
}
.stageBlcokImg.speedCompeleted {
  border: 5px solid #e39d9d;
}
.stageBlcokImg.masterCompeleted {
  border: 5px solid #e39dd2;
}
#levelDialogBg {
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(80, 80, 80, 0.4);
}
#levelDialog {
  position: absolute;
  left: 30vw; top: 30vh;
  width: 40vw; height: 40vh;
  border: 4px solid #222; border-radius: 15px;
  animation: dialogApper 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  background-color: #666;
  color: white;
  transform: scale(0);
}
@keyframes dialogApper {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#dialogTopLayer {
  width: 40vw; height: 6vh;
  border-bottom: 4px solid #222;
}
#levelDialogName {
  display: block; float: left;
  padding: 1vh 0 0 1vw;
  width: 34vw; height: 5vh;
  font-size: 3vh; text-shadow: 2px 2px 0.5px #111;
  background-color: #999;
}
#closeDialog {
  display: block; float: left;
  width: 5vw; height: 7vh;
  font-size: 4vh; color: #e03f3f; text-shadow: 2px 2px 0.5px #111; text-align: center;
  background-color: #e6a5a5;
  cursor: pointer;
}
#closeDialog:hover {
  filter: brightness(1.4);
}
#levelDialogGrade {
  padding: 0.5vh 0 0 1vw;
  width: 40vw; height: 3.5vh;
  font-size: 2vh; color: #fff; text-shadow: 2px 2px 0.5px #111;
  background-color: #999;
  border-bottom: 4px solid #222;
}
#stageStartButton {
  position: absolute;
  left: 31vw; top: 32vh;
  padding-left: 0.5vh;
  width: 6vw; height: 6.5vh;
  font-size: 4vh; text-shadow: 1px 1px 0.5px #111; text-align: center;
  border: 4px solid #bda242;
  box-shadow: 5px 5px 2px #111;
  background: linear-gradient(135deg, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
  cursor: pointer;
  animation: hoveringEffect 5s ease infinite alternate;
}
#stageStartButton:hover {
  filter: brightness(1.3);
}
